.footer {
  /* background-image: url("https://media.istockphoto.com/vectors/abstract-blurred-colorful-background-vector-id1185382671?k=6&m=1185382671&s=612x612&w=0&h=IBwXnZ6t2aDq1wRUGkNB8B_ZdpaoOYuXgs6IBUnX1j4="); */
  background-color: black;
  background-size: cover;
}
.footer a:visited {
  color: rgb(240, 250, 240);
}
