.p-container {
  height: 25px;
  background-color: rgb(153, 111, 111);
  border-radius: 8px;
  position: relative;
}

.p-container .progress-bar {
  position: absolute;
  height: 100%;
  background-color: rgb(37, 255, 8);
  animation: progress-animation 3s forwards;
  transform-origin: top center;
  border-radius: 8px;
}

@keyframes progress-animation {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}
